@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    background-color: lightblue;
    color: grey;
    display: flex;
    height: 100vh;
    alight-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.counter-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}

.home-icon {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 
}