

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    color:white;
}

.container {
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: space-between;
}

.circle {
    background-color: lightgrey;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
}

.content {
    
}
