

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    color:white;
}

.container {
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: space-between;
}

