@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    background-color: lightblue;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    color:white;
}



.container {
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: space-between;
}

.circle {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 16px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 16px;
    border
}


.content h1 {
    color: black;
    margin: 0;
}

.content small {
    color: grey;
}
