

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(grey, lightblue);
}

.container {
    box-shadow: 0px 0px 5px black;
    background-color: lightsalmon;
    padding: 30px;
}

.container h3 {
    text-align: center;
}

.container div {
    text-align: center
}

.container button {
    align-items: center;
    justify-content: center;
    position: absolute;
}